// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$pink:#CB416B !default;
$pinkDark: #FFE4D6;
$primary: $pink;
$secondary: $pinkDark;